.page {
    &.page-a {
        background-color: #aabbff;
        padding: 5px;
        .grid {
            padding: 10px 6px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 6px 5px;
            background-color: pink;
            border-radius: 6px;
            &-item {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
                background-color: rgb(29, 228, 11);
                &:nth-child(2n+1) {
                    background-color: rgb(221, 26, 91);
                }
            }
        }
    }
}
