.my-demo {
    width: 280px;
    height: 400px;
    box-sizing: border-box;
    padding: 30px;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
        color: #333;
        font-weight: bold;
        margin-bottom: 30px;
    }
    &-main {
        width: 200px;
        height: 300px;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}